<!doctype html>
<html>
<head>
    <title>Ally's Outdoor Activities</title>
    <style>
        body {
            background-image: images('sb_mountains.jpeg');
            background-size: cover;
            background-position: 20% 15%;  
            /* Add any other background styles here */
        }
    </style>
</head>
<body>
    <div class="header">
        <h1 style="color:cornflowerblue; text-align: center;">Welcome to my site!</h1>
    </div>
    <div class="choose activity">
        <h3 style="text-align: center;">Please choose an activity from the dropdown to learn more about it!</h2>
        <label for="activties"></label>
        <select name="activities" id="activity_type" style="display: block; background-color: rgb(138, 221, 232); margin: 0 auto; width: 450px; padding: 5px 35px 5px 5px; font-size: 16px; border: 1px solid #CCC; height: 34px; text-align: center;">
            {% for activity in activities %}
                <option value>{{ activity.name }}</option>
            {% endfor %}
        </select>
    </div>
 </body>
 </html>